<%

# 本格的な実装に入るまでのダミー

recent_repos = [
    {
        full_name: 'ichigotake/ruby-Mikuregator',
        description: 'https://github.com/ichigotake/Mikuregator をPerlからRubyに移植予定',
    },
]


authors = [
    {
        owner_login: 'ichigotake',
        count: 4
    }
]

%>

<h1>Authors</h1>
<div>
  <% #INCLUDE 'include/pager.tt' %>
  <table class="table">
    <thead>
    <tr>
      <td></td>
      <td colspan="2">Author</td>
      <td>Repos</td>
    </tr>
    </thead>
    <tbody>
      <% authors.each do |v| %>
      <tr>
        <td class="span1" style="vertical-align:middle;"><% #loop.count+((pager.current_page-1)*pager.entries_per_page) %></td>
        <td class="icon"><% #INCLUDE 'include/icon.tt' WITH v = v %></td>
        <td><a href="/user/<%= v[:owner_login] %>"><%= v[:owner_login] %></a></td><td><%= v[:count] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% #INCLUDE 'include/pager.tt' %>
</div>

