<%

# 本格的な実装に入るまでのダミー

recent_repos = [
    {
        full_name: 'ichigotake/ruby-Mikuregator',
        description: 'https://github.com/ichigotake/Mikuregator をPerlからRubyに移植予定',
    },
]

authors = [
    {
        owner_login: 'ichigotake',
        count: 4
    }
]


%><div class="row" style="margin:40px;">
    <p style="text-align: center;">(gist.)githubからみくったーっぽいレポジトリをかき集めるよ！</p>
</div>

<hr />

<style>
    .marketing .row {
        margin-top: 20px;
    }
    .activity-description {
      mardin: 0;
      padding: 0;
    }
    a.more:hover {
        background-color: #DDD;
    }
</style>

<div class="row">
    
  <div class="span8">
    <table class="table">
      <caption>
        最近更新のあったレポジトリ
      </caption>
      <thead>
        <tr><th colspan="2">Repository</th></tr>
      </thead>
      <tbody>
      <% recent_repos.each do |v| %>
        <tr>
          <% #INCLUDE 'include/repo.tt' WITH repo = v %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="span4">
    <table class="table">
      <caption>
        <a href="/recent">Recent</a>の直近50件のAuthor内訳
      </caption>
      <thead>
      <tr>
        <th colspan="2">Author</th>
        <th>Repos</th>
      </tr>
      </thead>
      <tbody>
      <% authors.each do |v| %>
        <tr><td class="icon"><% #INCLUDE 'include/icon.tt' WITH v = v %></td><td><a href="/user"><%= v[:owner_login] %></a></td><td><%= v[:count] %></td></tr>
      <% end %>
      <tbody>
    </table>
  </div>
</div>

